[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
flake8 = "*"
isort = "*"
pylint = "*"

[packages]
django = "*"
django-environ = "*"
jsbeautifier = "*"
psycopg2-binary = "*"
celery = "*"
django-webpack-loader = "*"
random-username = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python manage.py runserver"
shell = "python manage.py shell"
test = "python manage.py test"
import_corpus = "python manage.py import ../outrenuit-corpus"
